<%= form_for(@course_request) do |f| %>
  <% if @course_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course_request.errors.count, "error") %> prohibited this course_request from being saved:</h2>

      <ul>
      <% @course_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :requester_name %><br>
    <%= f.text_field :requester_name %>
  </div>
  <div class="field">
    <%= f.label :requester_email %><br>
    <%= f.text_field :requester_email %>
  </div>
  <div class="field">
    <%= f.label :requester_contact %><br>
    <%= f.text_field :requester_contact %>
  </div>
  <div class="field">
    <%= f.label :course_id %><br>
    <%= f.text_field :course_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
